@tailwind base;
@tailwind components;

html, body, #app, .playground-form, .playground textarea {
  height: 100%;
}

.ur-form .form-group {
  @apply mb-4;
  .control-label {
    @apply block text-text-alt text-sm font-bold mb-2;
  }
  .form-control {
    @apply appearance-none bg-bg border leading-tight py-2 px-3 rounded shadow text-text-alt w-full;
    &:focus, &.-focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      border-color: #80bdff;
    }
    &[type=range] {
      @apply p-0 border-0 shadow-none;
    }
    input {
      background: transparent;
      color: inherit;
      &:focus {
        outline: 0;
      }
    }
  }
  &.has-error > .form-control {
    @apply border-red-500 mb-3;
  }
  [type=checkbox], [type=radio] {
    margin-right: 0.5em;
  }
}

.ur-form .form-error {
  @apply text-red-500 text-sm;
}

.playground {
  height: calc(100vh - 96px);
  &__top {
    @apply flex;
    max-height: 60%;
  }
  &__bottom {
    @apply flex;
    max-height: 40%;
  }
}

.playground__box {
  @apply border h-full overflow-auto rounded-lg w-full;
  &-wrapper {
    @apply p-4 relative w-1/3;
  }
  &-title {
    @apply bg-gray-100 px-2 py-1;
  }
  &.-schema {
    @apply flex flex-col relative;
    .CodeMirror {
      @apply absolute inset-0;
      height: unset;
      .CodeMirror-selected {
        background-color: #555 !important;
      }
    }
    .codemirror-wrapper {
      @apply flex-grow relative;
    }
  }
  &-content {
    height: calc(100% - 2rem);
    overflow: scroll;
    &.-pre {
      font-family: monospace;
      white-space: pre;
    }
  }
  .ur-form {
    @apply px-4;
  }
}

.playground-form {
  &__form, &__schema, .playground-result {
    @apply overflow-auto p-4 w-1/3;
  }
  &__schema {
    @apply flex flex-col;
    textarea {
      @apply border mb-4 p-2 w-full;
    }
  }
}

.alert {
  @apply border px-4 py-3 rounded relative mb-2 flex justify-between items-center;
  &.alert-danger {
    @apply bg-red-200 border-red-400 text-red-800;
  }
}

.ur-file {
  @apply flex;
  .original, .preview {
    max-width: 50%;
  }
}

.playground__event {
  @apply flex;
}
